/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  background-color: white;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

header > img {
  height: 1.5rem;
}

nav > ul > li > a {
  color: #2D314D;
  font-size: 1.2rem;
}

#menu {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
  background-image: url("/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#menu.active {
  background-image: url(/images/icon-close.svg);
}

nav {
  display: none;
}

header {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 870px) {
  button#menu.active + nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background: white;
    font-weight: 300;
    width: 85vw;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    left: 50%;
    top: 6rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 1.25rem;
    padding: 3rem;
  }
  button#menu.active + nav ul li + li {
    margin-top: 2rem;
  }
  button#menu.active + nav > ul {
    margin: auto;
  }
}

@media screen and (max-width: 870px) {
  .header__container > button:not(#menu) {
    display: none;
  }
}

.nav-bg {
  display: none;
}

@media screen and (max-width: 870px) {
  .nav-bg.active {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 49, 77, 0.8)), to(rgba(45, 49, 77, 0)));
    background-image: linear-gradient(to bottom, rgba(45, 49, 77, 0.8), rgba(45, 49, 77, 0));
    z-index: 1;
  }
  nav,
  header {
    z-index: 2;
  }
}

@media screen and (min-width: 870px) {
  body {
    height: unset !important;
    overflow-y: unset !important;
  }
  #menu {
    display: none;
  }
  nav,
  nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav > ul > li {
    position: relative;
  }
  nav > ul > li > a {
    color: #9698a6;
  }
  nav > ul > li > a:hover {
    color: black;
  }
  nav > ul > li > a::after {
    left: 0;
    bottom: -2rem;
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    -webkit-transition: ease-in-out .12s;
    transition: ease-in-out .12s;
  }
  nav > ul > li > a:hover::after {
    width: 100%;
  }
  nav > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    gap: 0 1rem;
  }
  nav > ul > li {
    margin: 0 auto;
  }
  header > button {
    display: inline;
  }
}

.hero {
  overflow: hidden;
}

.hero__picture {
  margin-top: -35%;
}

.hero__picture > img {
  width: 100%;
  max-width: 650px;
  margin: auto;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.hero__text h1 {
  margin-top: clamp(1px, 6vw, 8rem);
  font-size: 2.5rem;
  font-weight: 300;
}

.hero__text h1 span {
  display: block;
}

.hero__text p {
  margin: 1rem 0 1.5rem 0;
}

.hero__text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 870px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .hero__text {
    -webkit-box-flex: 55%;
        -ms-flex: 55%;
            flex: 55%;
    text-align: left;
    padding-bottom: 7.5rem;
  }
  .hero__text > h1 {
    font-size: 3.5rem;
    margin: 0;
  }
  .hero__text > p {
    max-width: 400px;
  }
  .hero__text > button {
    margin-left: 0;
  }
  .hero__picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
    position: relative;
    margin-top: -10%;
  }
  .hero__picture > img {
    width: 150%;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

.hero__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  background-image: url(/images/bg-intro-mobile.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (min-width: 870px) {
  .hero__container::before {
    bottom: 7.5rem;
    right: -40%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-size: auto;
    background-position-x: left;
  }
}

.why-easybank {
  background-color: #f3f4f6;
  padding: 4rem 1rem;
}

.why-easybank__features {
  margin-top: 2rem;
}

.why-easybank__features > .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0;
}

.why-easybank__features > .feature:last-of-type {
  margin-bottom: 0;
}

.feature > img {
  margin: 0 auto 1rem auto;
}

@media screen and (min-width: 700px) {
  .why-easybank {
    text-align: left;
  }
  .why-easybank__text > h2 {
    padding-left: 0;
  }
  .why-easybank__text > p {
    max-width: 800px;
  }
  .why-easybank__text > p:first-of-type {
    margin-bottom: 3rem;
  }
  .feature {
    text-align: left;
  }
  .feature > img {
    margin-left: 0;
  }
}

@media screen and (min-width: 870px) {
  .why-easybank {
    margin-top: -7.5rem;
  }
}

.latest-articles {
  background-color: #f7f7f7;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.latest-articles__container {
  padding: 1.5rem 0;
}

.latest-articles__container > .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.article > .article__image {
  max-width: 100%;
  height: 11rem;
  margin-bottom: 1.5rem;
  background-position: center;
  background-size: auto cover;
  background-repeat: no-repeat;
}

.article:nth-of-type(1) > .article__image {
  background-image: url(/images/image-currency.jpg);
}

.article:nth-of-type(2) > .article__image {
  background-image: url(/images/image-restaurant.jpg);
}

.article:nth-of-type(3) > .article__image {
  background-image: url(/images/image-plane.jpg);
}

.article:nth-of-type(4) > .article__image {
  background-image: url(/images/image-confetti.jpg);
}

.article *:not(.article__image) {
  padding: 0 1.5rem;
}

.article > p:not(.author) {
  margin-top: auto;
  font-size: .9rem;
}

.article > p.author {
  font-size: 0.75rem;
  margin-bottom: .3rem;
}

@media screen and (min-width: 700px) {
  .latest-articles > h2 {
    text-align: left;
    padding-left: 0;
  }
}

footer {
  padding: 0 3rem;
}

.footer__container {
  padding: 3rem 0;
}

.footer__container > img {
  margin: auto;
}

.footer__container > ul {
  margin: 2rem 0;
}

.footer__container > ul li {
  color: #f3f4f6;
  margin-bottom: 1rem;
}

.footer__container > ul.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.footer__container > ul.socials li {
  margin: 0.5rem 0.5rem;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.footer__container > ul.socials li img {
  height: 1.5rem;
}

.footer__container > button {
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo links request" "socials links copyright";
  }
  .footer__container > img,
  .footer__container > ul.socials,
  .footer__container > ul,
  .footer__container > button,
  .footer__container > p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__container > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin-left: 0;
  }
  .footer__container > ul.socials {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: socials;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__container > ul {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: links;
    -webkit-columns: 2;
            columns: 2;
  }
  .footer__container > ul li {
    margin-top: auto;
  }
  .footer__container > ul > li:nth-of-type(3),
  .footer__container > ul > li:nth-of-type(6) {
    margin-bottom: 0;
  }
  .footer__container > button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: request;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.75rem 2rem;
    margin-left: auto;
  }
  .footer__container > p {
    margin-top: auto;
    text-align: right;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: copyright;
  }
}

:root {
  max-width: 100vw;
}

body {
  font-family: "Public Sans", sans-serif;
  text-align: center;
}

h2,
h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  color: #2d314d;
}

h2 {
  font-size: 2rem;
  padding: 0 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

p {
  color: #9698a6;
}

p,
ul li {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #2d314d;
}

button:not(#menu) {
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

button:not(#menu):active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

button:not(#menu):hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#68df87), to(#63cae3));
  background-image: linear-gradient(to right, #68df87, #63cae3);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header__container,
.why-easybank__text,
.why-easybank__features,
.latest-articles__container,
.latest-articles > h2,
.footer__container {
  margin: auto;
  max-width: 1100px;
}

header,
.hero,
.latest-articles,
.why-easybank {
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 700px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.why-easybank__features,
.latest-articles__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

@media screen and (min-width: 700px) {
  .latest-articles__container,
  .why-easybank__features {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 870px) {
  .latest-articles__container,
  .why-easybank__features {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .feature {
    text-align: left;
  }
  .feature img {
    margin-left: 0;
  }
}

li > a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 870px) {
  p {
    font-size: 1.15rem;
  }
}

li > a:hover,
.article > h3:hover,
.socials > li > img:hover {
  cursor: pointer;
  color: #31d35c;
}

.socials > li > img:hover {
  -webkit-filter: sepia(50%) saturate(4829%) hue-rotate(60deg) brightness(89%) contrast(83%);
          filter: sepia(50%) saturate(4829%) hue-rotate(60deg) brightness(89%) contrast(83%);
}
/*# sourceMappingURL=style.css.map */